Introduction
=============

${project.name} (${project.artifactId})

 The ${project.artifactId} is used to configure a JAR, WAR or EAR file after the build with properties.


Goals Overview
-----------
 General information about the goals.

 * [configurator:configure](./configure-mojo.html) configure the target file of the current project.

 * [configurator:configure-artifact](./configure-artifact-mojo.html) configure an arbitrary artifact.
